<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="https://demo.hubzilla.org">
					<i class="fa fa-desktop"></i>  <span class="light">Демо</span>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#top">Hubzilla</a>
					</li>
					<li>
						<a class="page-scroll" href="#learn">Свойства</a>
					</li>
					<li>
						<a class="page-scroll" href="#discover">Познакомиться</a>
					</li>

					<li>
						<a class="page-scroll" href="#download">Скачать</a>
					</li>
					<li>
						<a class="page-scroll" href="#develop">Участвовать</a>
					</li>
					<li>
						<a class="page-scroll" href="https://project.hubzilla.org/channel/announcements/">Новости</a>
					</li>
					<li id="hz-lang"  class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#hz-lang" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language" style="font-size: 1.4em;"></i><span class="caret"></span></a>
						<ul class="dropdown-menu lang-selector">
							<li><a class="lang-choice" href="#">en</a></li>
							<li><a class="lang-choice" href="#">ru</a></li>
							<li><a class="lang-choice" href="#">de</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<div class="intro-body intro" >
		<div class="container">
			<div class="row">
				<div>
					<img class="img-responsive hubzillabanner" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/newhubzillabanner.png"/>
				</div></div>
			<div class="row">
				<div>
					<p class="lead">Hubzilla - это мощная платформа для создания социальных сетей с прозрачной системой идентификации и средствами управления доступом на основе современных веб-серверных технологии.</p>
				</div>
			</div>
<div class="row">
	<div>
		<p class="lead" style="font-size:1.2em; color:white;">Хотите попробовать? Зарегистрируйте учетную запись на</p>
		<p class="" style="font-size:1.2em; color:white; margin-bottom: 0;"><i> <a href="https://start.hubzilla.org" style="font-size:1.2em; color:white; font-weight:bold;">HUBZILLA ⟩⟩ Start</i></a></p>
	</div>
</div>
			<div class="row"  style="padding-top: 50px;">
				<div >
					<div class="col-lg-1 col-md-1 col-sm-3 col-lg-offset-4 col-md-offset-3 col-sm-offset-2"><a class="btn btn-default btn-lg" href="https://demo.hubzilla.org">Демо</a></div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-lg-offset-1 col-md-offset-2 col-sm-offset-2"><a class="btn btn-default btn-lg" href="https://project.hubzilla.org/help/admin/administrator_guide">Запустить собственный Hub</a></div>
					<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 50px;">
						<a href="#learn" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
						<div id="news-sticker">
							<ul>
								<li>
									<a href="https://project.hubzilla.org/channel/announcements/">
										<h2>Hubzilla<br><br><font size="+3">3.4</font><br><br>выпущена!</h2>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section id="learn" class="container content-section text-center">
		<div class="row learn-section">

			<div class="col-lg-6 col-md-6">
				<img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/decentralisation_ru.png" class="img-responsive">
				<div style="position:absolute ; top: 20%; right: 5%; color:#555555; width:50%;">
				</div>
				<div style="position:absolute ; bottom: 3%; left: 5%; color:#007A9A; width:55%;">
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<h2>Децентрализованная сеть из хабов: грид</h2>

				<p>Хабы это серверы, которые обмениваются данными в сети "grid". Все хабы равноправны. Хабы могут быть в зависимости от потребности связаны с одним или более сторонними хабами.
				</p>
				<h2>Каналы и контакты</h2>

				<p>Канал - это основной элемент в гриде. Канал может быть представлен различными способами: личная страница, блог или форум. Каналы могут связываться с другими каналами для обмена информацией в соответствии с гибконастраиваемыми правами доступа. Адрес канала имеет привычный формат channel@hub.domain.
				</p>
				<h2>Прозрачная миграция и клонирование</h2>

				<p>Прозрачная миграция означает настоящий контроль над своими данными. В Хабзилле вы заводите аккаунт в гриде, а не на определённом сервере и этот аккаунт может перемещаться по всему гриду. Вы можете клонировать канал на несколько хабов для повышения устойчивости к сетевым сбоям и противодействия цензуре, также можете польностью перенести канал с одного хаба на другой вместе со всеми данными и контактами.

				</p>
			</div>

		</div>
		<div class="row learn-section">
			<div class="col-lg-6 col-md-6">

				<h2>Контроль доступа во всей сети</h2>

				<p>Типичный сайт изолирован и не имеет понятия, кто посещает его и контроль доступа ограничивается контролем для зарегистрированных на определённом сайте пользователей. Если вы хотите предоставить доступ к информации только определённым пользователям, незарегистрированным на сайте, то вам не повезло. Хабзилла же предоставляет гибконастраиваемый доступ к информации, распространяемой в сети, и сайты на хабах могут распознавать посетителей. Благодаря Single sign-on возможна простая аутентификация на независимых сайтах, что раньше было невозможно.
				</p>

				<h2>Что такое Zot?</h2>

				<p>Zot - это базирующийся на JSON набор функций для реализации децентрализованной коммуникации и децентрализованных сервисов. Отличительные свойства Zot в сравнении с многими другими коммуникационными протоколами - это прозрачная миграция и набор функций для аутентификации. Аутентификационная составляющая Zot подобна OpenID, но изолирована от идентификаторов на основе DNS. Причём возможна тихая и невидимая удалённая аутентификация. Таким образом реализуется механизм для распределённого доступа через интернет.</p>
				<ul>
					<li>полностью децентрализованная связь</li>
					<li>изоляция от DNS зависимых идентификаторов</li>
					<li>мобильный узел</li>
					<li>невидимый и компактный обмен при удалённой аутентификации</li>
					<li>быстродействие</li>
				</ul>
			</div>

			<div class="col-lg-6 col-md-6">
				<img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/access_control_ru.png" class="img-responsive">
				<div style="position:absolute ; bottom: 0%; left: 25%; color:#007A9A; width:70%; background-color: #FFF;">
				</div>
			</div>
		</div>
	</section>
	<section id="discover" class="content-section text-center">
		<div class="row discover-section">
			<div class="container">
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/plugins.png" style="width: 200px; height: 200px;">
					<h3>Дополнение</h3>
					<p class="text-justify">Hubzilla постоянно развивается. Создавайте веб-приложения как дополнения и дополни возможности грида для передачи данных и управления доступом.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/toolkit.png" style="width: 200px; height: 200px;">
					<h3>Набор инструментов</h3>
					<p class="text-justify">Язык Comanche используется для описания интернет-страниц и для программирования модульных, реагирующих на конкретного пользователя элементов страниц. Эти модули могут быть использованы другими hubzilla-пользователями.</p>

				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/social.png" style="width: 200px; height: 200px;">
					<h3>Социальная сеть</h3>
					<p class="text-justify">Свойство социальности записано в ДНК Хабзиллы, в её ядре. Используйте каналы для того, чтобы рассказать о себе и связаться с другими участниками Хабзилла грида. Возможен обмен сообщениями с социальными сетями Diaspora*, Friendica и др. при помощи плагинов.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/filestorage.png" style="width: 200px; height: 200px;">
					<h3>Облачное хранилище файлов</h3>
					<p class="text-justify">Соедините облачное хранилище файлов вашего канала с вашим жестким диском, используя технологию WebDAV. Распространяйте или публикуйте ваши файлы при помощи вездесущной прецизионной системой управления доступом.</p>
				</div>
			</div>
		</div>
		<div class="row discover-section">
			<div class="container">
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/themes.png" style="width: 200px; height: 200px;">
					<h3>Внешний вид</h3>
					<p class="text-justify">Внешний вид может быть гибко изменён с помощью встроенной поддержкой тем. Сделайте ваш Хаб неповторимым и подходящим для <i>вашего</i> сообщества или вашей фирмы.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/events.png" style="width: 200px; height: 200px;">
					<h3>События</h3>
					<p class="text-justify">Координируйте и распространяйте календарные события cо встроенной поддержкой функции календаря. Импорт и экспорт с поддержкой распространённых форматов.</p>
				</div>


				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/api.png" style="width: 200px; height: 200px;">
					<h3>API</h3>
					<p class="text-justify">Богатое и гибкое API позволяет создавать независимые приложения для использования Хабов, расширения выбора сетевых сервисов в гриде на основе вашей фантазии.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/opensource.png" style="width: 200px; height: 200px;">
					<h3>Свобода</h3>
					<p class="text-justify">Hubzilla это свободное программное обеспечение! Вы можешь свободно пользоваться и изменять программу в соответствии с твоими потребностями. Чтобы обеспечить приватность и защиту данных, любой может просмотреть и в случае чего исправить код.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="download" class="content-section text-center">
		<div class="row download-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Скачать Hubzilla</h2>
					<p>Hubzilla это свободное и Open Source программное обеспечение, в котором <i>твои</i> права защищены лицензией MIT.</p>
					<a href="https://framagit.org/hubzilla/core" class="btn btn-default btn-lg">Программный код скачать</a>
				</div>
			</div>
		</div>
	</section>
	<section id="develop" class="content-section text-center">
		<div class="row develop-section">
			<div class="container">
				<div class="col-lg-2 col-lg-offset-1">
					<img alt="img" class="img-circle center-block drop-shadow" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/zot.png" style="width: 200px; height: 200px;">
				</div>

				<div class="col-lg-8 col-lg-offset-1">
					<h2>Участвовать</h2>
					<p>Многое предстоит ещё сделать и каждая помощь продвинет проект вперёд. Присоединяйся! Существует много способов участия в проекте.</p>
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://project.hubzilla.org/channel/hubzilla" class="btn btn-default btn-lg"><img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/hubzilla_logo_white_bkgd.png" width="25">&nbsp<span class="network-name">Сообщество</span></a>
						</li>
						<li>
							<a href="https://riot.im/app/#/room/#hubzilla:matrix.org" class="btn btn-default btn-lg"><span class="network-name"><span class="">[m]</span>riot.im</span></a>
						</li>
						<li>
							<a href="https://framagit.org/hubzilla/core" class="btn btn-default btn-lg"><i class="fa fa-github"></i>&nbsp&nbsp<span class="network-name">Программный код</span></a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>
	<section id="donate" class="donate-section text-center"><div class="row donate-section">
			<div class="container">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h2>Пожертвовать для Hubzilla проекта</h2>
					<ul class="list-inline banner-social-buttons"><li>
							<a href="https://salt.bountysource.com/teams/hubzilla" class="btn btn-default btn-lg" title="BountySource"><img height="20" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/bountysource_icon.png" alt="bountysource_icon.png" /> <span class="network-name">BountySource</span></a>
						</li>
					</ul></div>
			</div>
		</div>
	</section>
